<div class="title_restorable">
    <h3 data-i18n="Character Tags CSS Styling Guide">Character Tags CSS Styling Guide</h3>
</div>
<div class="justifyLeft m-b-1">
    <small>
        <span data-i18n="Tag_Css_Guide_Desc_1">When this option is active, all character tags you create will be added as data HTML attributes to the .mes element. As an example, this character has two tags: <b><u>Belgium and Football</u></b>. Both will be applied like so:</span>

        <pre><code>&lt;div class="mes reasoning" mesid="0" ch_name="Esther De Gieter" is_user="false" is_system="false" bookmark_link="" swipeid="0" force_avatar="true" timestamp="2 de julho de 2025 22:00" data-reasoning-state="done" <b><u>data-char-tags="Football,Belgium" data-char-tag-football data-char-tag-belgium</u></b>&gt;&lt;/div&gt;</code></pre>

        <span data-i18n="Tag_Css_Guide_Desc_2">Notice the highlighted <b><u>data-char-tags</u></b>, and both the
            <b><u>data-char-tag-football</u></b> and <b><u>data-char-tag-belgium</u></b>.</span><br><br>

        <span data-i18n="Tag_Css_Guide_Desc_3">All tags are added inside the data-char-tags while each tag is individually added as a separate attribute. Here are two examples on how to select them with CSS:</span><br><br>

        <ul>
            <li><span data-i18n="Tag_Css_Guide_Example_1"><b><u>.mes[data-char-tag-belgium] { color: red; }</u></b> - This will select all .mes divs with data-char-tag-belgium attribute.</span></li>

            <li><span data-i18n="Tag_Css_Guide_Example_2"><b><u>.mes[data-char-tags*="Belgium"] { color: red; }</u></b> - This will select all .mes divs where data-char-tags includes the "Belgium" text. This version is not normalized and accepts spaces. Tags are split by commas if you want to select groups of tags.</span></li>

            <li><span data-i18n="Tag_Css_Guide_Example_3"><b><u>.mes[data-char-tag-belgium][data-char-tag-football] { background-color: green; }</u></b> - This will select only the .mes that have both Belgium and Football tags. This is safer than using <b><u>.mes[data-char-tags*="Football,Belgium"]</u></b> selector because the tag order inside the char-tag is not guaranteed.</span></li>
        </ul>

    </small>
</div>
